/*----------------------------------------------------
	Title: 		
	Author:		
----------------------------------------------------*/

/* ------------------------------------------------------------------------------------------
Reset Styles 
------------------------------------------------------------------------------------------ */

/* Resets */
section,nav,hgroup,header,footer,figure,dialog,aside,article,td,th,tr,thead,tfoot,tbody,caption,table,legend,label,form,fieldset,li,ul,ol,dd,dt,dl,q,img,em,dfn,del,code,address,acronym,abbr,a,pre,blockquote,p,h6,h5,h4,h3,h2,h1,iframe,object,span,div,body,html{margin:0;padding:0;border:0;vertical-align:baseline}section,nav,hgroup,header,footer,figure,dialog,aside,article{display:block}table{border-collapse:collapse;border-spacing:0}td,th,caption{text-align:left;font-weight:normal}th,td,table{vertical-align:middle}q:after,q:before,blockquote:after,blockquote:before{content:""}q,blockquote{quotes:"" ""}a img{border:none}


/* ------------------------------------------------------------------------------------------
Base Framework
------------------------------------------------------------------------------------------ */
.left       				{float: left;}
.right      				{float: right;}
.no-marg    				{margin: 0px !important;}
.top-marg					{margin-top: 40px !important;}
.center 					{text-align: center !important;}
strong, .strong 			{font-weight: bold;}
strong em, .strong em 		{font-weight: 800;}
em, .em 					{font-style: italic;}
.small 						{font-size: 12px !important; line-height: 20px;}
.wrap						{float: left; width: 100%;}
img 						{max-height: 100%; max-width: 100%;}
.no-bull 					{list-style: none;}


body {

}

/* ------------------------------------------------------------------------------------------
Fluid Grid Elements
------------------------------------------------------------------------------------------ */
.container {
	clear: both;
	display: block;
	margin: 0px auto;
	width: 92%;
	max-width: 1200px;
}
.col2 {
	float: left;
	margin: 0px 2%;
	width: 46%;
	
}
.col3 {
	float: left;
	margin: 0px 2%;
	width: 29.3%;
}
.col4 {
	float: left;
	margin: 0px 2%;
	width: 21%;
	
}
.col5 {
	float: left;
	margin: 0px 2%;
	width: 16%;	
}

/* ------------------------------------------------------------------------------------------
Forms
------------------------------------------------------------------------------------------ */

div.add-wrap {
	width: 100%;
}
div.add-wrap,
div.add-wrap .st,
div.add-wrap .zip {
	float: left;
}
div.add-wrap .st {
	float: left;
	width: 50%;
}
div.add-wrap .zip {
	float: right;
	width: 40%;	
}
span.req {
	color: #bbb;
	float: right;
	font-size: 12px;
	position: relative;
	top: 5px;
}
span.note {
	color: #888;
	display: block;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	font-style: normal;
}
label.l1,
label.l2 {
	color: #333;
	clear: both;
	display: block;
	margin: 0px;
	font-size: 18px;
	line-height: 32px;
	font-weight: bold;
}
label.l2 {
}
input, textarea {
	font-family: "freight-sans-pro",sans-serif;	
}
input.i1 {
	background: #eee;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 4px #ddd;
	color: #333;
	margin: 6px 0px 32px;
	padding: 10px 2%;
	position: relative;
	width: 96%;
	font-size: 18px;
	font-weight: 600;
}
input.add {
	margin: 6px 0px;
}
select {
	margin: 16px 0px 38px;
}
select.dd {
	margin: 16px 0px 0px;
}
textarea.t1 {
	background: #eee;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 4px #ddd;
	height: 200px;
	margin: 6px 0px 24px;
	padding: 10px 1%;
	width: 98%;
}


/* ------------------------------------------------------------------------------------------
Typography styles 
------------------------------------------------------------------------------------------ */

/* Base Text
--------------------------------------------- */
p,ul,ol,li {

}
p {

}
ul,ol {

}
a {

}
/* Headings
--------------------------------------------- */
h2 {

}
h3 {

}
h4 {

}
/* Buttons
--------------------------------------------- */




/* ------------------------------------------------------------------------------------------
Navigation
------------------------------------------------------------------------------------------ */
nav ul {
	list-style: none;
}

/* Utility Nav
--------------------------------------------- */



/* Main Nav
--------------------------------------------- */



/* Mobile Device Nav
--------------------------------------------- */




/* ------------------------------------------------------------------------------------------
Global Style
------------------------------------------------------------------------------------------ */

/* Header
--------------------------------------------- */




/* Footer
--------------------------------------------- */




/* ------------------------------------------------------------------------------------------
Layout Specific styles 
------------------------------------------------------------------------------------------ */

/* Home
--------------------------------------------- */



