<nav id="main">
    <ul>
    	<li>
    	   <a href="">Nav 1</a>
            {!-- Sub Navigation if needed!  
            <ul class="sub-nav">
            	<li><a href="">Nav 1</a></li>
                <li><a href="">Nav 2</a></li>
                <li><a href="">Nav 3</a></li>
               	<li><a href="">Nav 4</a></li>
                <li><a href="">Nav 5</a></li>
            </ul>
            --}
    	</li>
        <li><a href="">Nav 2</a></li>
        <li><a href="">Nav 3</a></li>
       	<li><a href="">Nav 4</a></li>
        <li><a href="">Nav 5</a></li>
    </ul>
</nav>