<body>
<!--[if lte IE 7]>
<div id="ie-wrap" style="position:relative; z-index: 77777;">
    <div id="ie-warning">
        <p id="warning"><strong>Attention</strong></p>
        <p id="message">Internet Explorer is out of date and is not supported by this website. Aspects of this site may not function as intended.<br />
        <span id="upgrade">We strongly recommended you <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx" title="Internet Explorer">UPGRADE</a> to the latest version if Internet Explorer or download <a href="http://www.mozilla.com/" title="Mozilla Firefox" >Mozilla Firefox</a> or <a href="http://www.google.com/chrome" title="Google Chrome" >Google Chromeds</a>.</span></p>
        <p id="button"><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx" title="Internet Explorer" class="click">Upgrade your browser now</a>
    </div>
</div>
<![endif]-->

    <!-- Header -->
    {embed="inc/_header"}